body{
	font: 20px Arial, Helvetica, sans-serif;
	padding: 0;
    margin: 0;
    text-decoration-color: rgba(255,255,255,1)
}
.background{
	background-image: url(2.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

aside div ul {
    list-style-type: none;
    width: 10%;
    height: 100%;
    position: fixed;
    overflow: auto;
    display: block;
}
aside div li , .subpage {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255,255,255,1);
    margin: 15px;
    border-radius: 44px;
    padding: 10px;
}
aside div li a{
    text-decoration: none;
    color: white;
}
aside div li a:hover{
    width: 15%;
    font-weight:bold;
}

.pages{
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 100%;
    overflow: relative;
    border-radius: 25px;
    padding: 10px;
    color:rgba(255,255,255,1);
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
}

h1{
    font-size: 40px;
    text-shadow: gainsboro;
}

span{
    font-weight: bold;
    font-size: 25px;
}
h4{
    text-align: right;
}
div.subpage
{
    text-align: left;
    padding: 10px 40px;
    text-align: left;
    line-height: 1.5;
}
img{
    align: right;
}


